<tr class="{CSS_ROW}">
    <td class="std">
        <!-- BEGIN checkbox -->
        <input type="checkbox" name="{ID_PARAMETER}[]" value = "{ID_VALUE}" checked = "checked" />
        <!-- END checkbox -->
    </td>
	<td class="std">{NAME}</td>
    <td class="std">{LOGIN}</td>
    <td class="std">{MATRICULATION}</td>
    <td class="std">{E_MAIL}</td>
    <td class="std">{ACTIVE}</td>
    <td class="std">{TIME_LIMIT}</td>
    <td class="std">{CHANGE}</td>
    <!-- BEGIN actions -->
    <td class="std">{ACTIONS}</td>
    <!-- END actions -->
</tr>